.footer {
  background-color: #00a046;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  padding: 2px;
  width: calc(100% - 20px);
  bottom: 0;
  position: fixed;
}

.footer p {
  margin: 0;
}
